body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0;
}

.Container {
  display: grid;
  grid-template: 100vh / 300px 1fr;
}

.Panel-info {
  background-image: linear-gradient(to bottom,  #B20707, #BF0000);
  display: flex;
  height: 100%;
  align-items: center;
}

.Panel-info .ResetApp {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  display: flex;
  align-items: center;
  font-size: .8em;
  background: transparent;
  color: white;
  opacity: .5;
  outline: none;
  cursor: pointer;
}


.Panel-info .ResetApp svg {
  margin-right: .3em;
}

.Panel-info__item{
  display: flex;
  align-items: center;
  position: relative;
}

.Panel-info__item img {
  width: auto;
  height: 740px;
  padding-left: 30px;
  position: absolute;
  
}

.Panel-info__item .buttons {
    z-index: 1;
    position: absolute;
    top: -290px;
    left: 165px;
    display: flex;
    flex-direction: column;
    width: 247px;
    text-align: center;
}

.Panel-info__item .buttons a {
    color: #707070;
    background: transparent;
    margin-bottom: 5px;
    border: none;
    font-size: 1.56rem;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.Panel-info__item .buttons a span{
  font-weight: 900;
  font-size: 2.18rem;
}

.Panel-info__item .Label {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 294px;
    display: flex;
    flex-direction: column;
    width: 153px;
    text-align: left;
}

.Panel-info__item .Label.girl {
    top: 25px;
    left: 272px;
}

.Panel-info__item .Label p {
    color: #707070;
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: 400;
}

.Panel-info__item .Label p .NameStudent {
  text-transform: capitalize;
}

.Panel-info__item .Label p span{
  font-weight: 900;
  font-size: 1.87em;
}

.Panel-info__item .Label p span.day{
  font-size: 1.75rem;
}

.Panel-Horario {
  background-image: linear-gradient(to bottom,  #084369, #78fffac7);
  display: flex;
  height: 100%;
  align-items: center;
}

.Panel-Horario__Container {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    width: 100%;
    padding: 0 30px 0 200px;
    
}

.Panel-Horario__Container .Header {
    font-size: 1.68em;
    font-weight: 100;
    padding: 2em 0;
    line-height: 50px;
}

.Panel-Horario__Container .Header span{
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 10px;
}

.Panel-Horario__Container .Header a,
.Panel-Horario__Container .Header a:visited{
    font-size: 1.56rem;
    font-weight: 500;
    margin-left: 10px;
    background: #be0101;
    color: white;
    padding: .5em;
    text-decoration: none;
    border-radius: 10px;
}

.Panel-Horario__Container .List-card{
    display: grid;
    grid-template-columns: repeat(2, 265px);
    gap: 10px;
    justify-content: center;
}

.Panel-Horario__Container .List-card .card{
    border: 4px solid;
    padding: 15px 10px;
    font-size: 1.125em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color:#00000029;
}

.Panel-Horario__Container .List-card .card h3{
  font-size: .8em;
}

.Panel-Horario__Container .List-card .card.disabled{
  opacity: .4;
  cursor: none;
}

.Panel-Horario__Container .List-card .card .Buttons{
    border-top: 1px solid;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
}

.Panel-Horario__Container .List-card .card .Buttons p{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0;
    font-size: .8em;
}

.Panel-Horario__Container .List-card .card .Buttons p a,
.Panel-Horario__Container .List-card .card .Buttons p a:visited{
    color: white;
}

.NotClasess img{
    height: 400px;
    margin-top: 20px;
}

.modal{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.modal form {
  position: relative;
}

.modal form .heroBienvenida{
  height: 500px;
}

.modal form input{
    position: absolute;
    top: 65px;
    right: 18px;
    padding: 10px 15px;
    border-radius: 30px;
    outline: none;
    border: 2px solid #FF5722;
    width: 265px;
    font-size: 1.2em;
    box-sizing: border-box;
    text-align: center;
}

.modal form .gender{
    position: absolute;
    bottom: 80px;
    right: 60px;

}

.modal form .gender img{
    height: 90px;
    width: auto;
    margin-left: 10px;
    opacity: .5;
}

.modal form .gender img.active{
    opacity: 1;
}

.modal form button{
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    border-radius: 20px;
    background: #1565C0;
    border: 1px solid white;
    color: white;
    font-size: 1.2em;
    right: 65px;
}


/* Mobile first */

@media only screen and (max-width: 377px){
  .Container {
      grid-template: 300px 1fr / 1fr;
  }
}


@media only screen and (max-width: 1200px)  {
  body{
    font-size: 16px;
  }

  .Container {
    grid-template: 100vh / 250px 1fr;
  }

  .Panel-info__item img {
    height: 630px;
    padding-left: 15px;
  }

  .Panel-info__item .buttons {
    top: -254px;
    left: 119px;
  }

  
  .Panel-info__item .Label {
    top: -10px;
    left: 214px;
    width: 140px;
  } 
  
  .Panel-info__item .Label.girl {
      top: 15px;
      left: 220px;
  }
 
  .Panel-info__item .Label p span{
    font-size: 1.3em;
  } 
 
  .Panel-info__item .Label p span.day{
    font-size: 1.4em;
  } 

  .Panel-Horario__Container .Header a, 
  .Panel-Horario__Container .Header a:visited {
    font-size: 1em;
  }
 

}

@media only screen and (max-width: 1024px)  {
  body{
    font-size: 12px;
  }

  .Container {
    grid-template: 100vh / 200px 1fr;
  }

  .Panel-info__item img {
    height: 550px;
    padding-left: 15px;
  }

  .Panel-info__item .buttons {
    top: -225px;
    left: 90px;
  }

  .Panel-info__item .buttons a {
    font-size: 1.45rem;
  }

  .Panel-info__item .buttons a span {
    font-size: 1.9rem;
  }

  .Panel-info__item .Label {
    top: -10px;
    left: 214px;
    width: 107px;
  } 
 
  .Panel-info__item .Label p span{
    font-size: 1.3em;
  } 
 
  .Panel-info__item .Label p span.day{
    font-size: 1.4em;
  } 

  .Panel-Horario__Container .Header a, 
  .Panel-Horario__Container .Header a:visited {
    font-size: 1em;
  }

  .Panel-Horario__Container .Header {
    line-height: 40px;
    padding: 1.5em 0;
  }

  .Panel-Horario__Container .Header span {
    font-size: 2.3rem;
    font-weight: 900;
  }

  .Panel-info__item .Label.girl {
      top: 22px;
      left: 194px;
  }

}